<launch>
  <!-- Arguments -->
  <arg name="cmd_vel_topic" default="cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="planner"  default="dwa" doc="opt: dwa, teb"/>
  <arg name="simulation" default= "false"/>
  <arg name="base_type" default= "$(env BASE_TYPE)"/>

  <!-- Run map server-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_navigation)/maps/office_map_01.yaml"/>

</launch>
